#sidebar {
  position: fixed !important;
  transition: all 1s;
}

#sidebar.active {
  margin-left: -17rem;
}

.vertical-nav {

  width: 9rem;
  height: 100vh;
  position: fixed;
 
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;

}
